<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.neighbor.orchestrate-project.__PLN__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE__</string>
    <string>__SKILL_DIR__/scripts/poll-prs.mjs</string>
    <string>__PLN__</string>
    <string>--quiet</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__GH_DIR__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartInterval</key>
  <integer>600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__HOME__/.orchestrate-project/__PLN__/poller.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.orchestrate-project/__PLN__/poller.log</string>
</dict>
</plist>
